@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body{
    font-family: 'Inter', sans-serif;
}
#bright{
    filter: brightness(50%);
}
.font{
    font-size: 15px;
    font-weight: 400;
}
.company{
    align-items: baseline;
    justify-content: space-between;
}
@media screen and (max-width:576px) {
    .company{
        visibility: hidden;
    }
    .col{
        display: flex;
        flex-direction: column;
    }
    .working{
        display: flex;
        flex-direction: column;
    }
    .working img{
        width: 100%;
    }
}
@media screen and (min-width:576px) {

    .working{
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }
}